/* footbot-frontend/FootBot-app/src/components/fixtures.module.css */
.fixtureBox {
  width: 375px; /* Adjust width as needed */
  height: auto; /* Allow height to adjust based on content */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-image: url('/images/lightning.jpeg'); /* Set background image */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  color: #fff; /* White text */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: bold;
  margin: 10px; /* Add margin to create space between boxes */
}

.fixtureBox .teams {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

.fixtureBox .team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%; /* Adjust width for proper spacing */
}

.fixtureBox .vs {
  width: 100px; /* Adjust width as needed */
  height: 100px;
}

.fixtureBox .score {
  font-weight: bold; /* Bold text for score */
  margin-top: 10px;
}

.fixtureBox img {
  max-width: 50px; /* Set a maximum width for the team logos */
  max-height: 50px; /* Set a maximum height for the team logos */
  margin-top: 5px; /* Add some space above the images */
}


